@charset "utf-8";
body {
	padding-top: 70px;
	padding-bottom: 70px;
	padding-left: 5px;
	padding-right: 5px;
}footer {
	margin-top: 0px;
	padding-top: 2em;
	padding-bottom: 2em;
	border: 1px solid #DDDDDD;
}
